<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to Gradio</title>
    <!-- <script type="text/javascript">
        window.location.href = "http://127.0.0.1:7860/";
    </script> -->
</head>
<body>
    <!-- <p>If you are not redirected automatically, <a href="http://127.0.0.1:7860/">click here</a>.</p> -->
    <iframe src="http://127.0.0.1:7860/" title="W3Schools Free Online Web Tutorial" width="100%" height="800"></iframe>
</body>
</html>

